*{
    margin: auto 0 ;
    padding: 0;
}

body {
    background-color: #d1f1fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Nunito Sans", sans-serif;
}

.container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 27rem;
    width: 25rem;
    border-radius: 1rem;
    border:4px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition:0.2  ease-in-out;
}
.container:hover {
    border-color: rgb(37, 207, 229);
    transform: scale(1.02);

}
.container:active {
    border-color: rgb(37, 207, 229);
}



.input_div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: -2.4rem;
}
.email_div input{
    width: 20rem;
    height: 2.2rem;
    background-color: rgb(226, 225, 225);
    border-radius: 0.4rem;
    border: none;
    padding-left: 1.5rem;
    outline: none;
}

.email_div {
    border: 2px solid white;
    transition: border-color ease;
    border-radius: 0.4rem;
}
.email_div:hover {
    border-color: rgb(37, 207, 229);

}
/* .email_div:active {
    border-color: rgb(0, 106, 255); ;
} */


.password_div input{
    width: 18rem;
    height: 2rem;
    background-color: rgb(226, 225, 225);
    border-radius: 0.4rem;
    border: none;
    padding-left: 1.5rem;
    outline: none;
}

.password_div {
    background-color: rgb(226, 225, 225);
    width: 21.4rem;
    height: 2.2rem;
    display: flex;
    border-radius: 0.6rem;
    border: 2px solid white;
    bacground-color: rgb(226, 225, 225);
    transition: border-color ease;
}
.password_div:hover {
    border-color: rgb(37, 207, 229);

}
/* .password_div:active {
    border-color: rgb(37, 207, 229);;
} */

h1 {
    font-size: 1.3rem;
    margin-top: 1vh;
    font-weight: 550;
    
}

h5 {
    margin-top: -2rem;
    padding-right: 3rem;
}

button {
    background-color: rgb(40, 40, 92);
    width: 10rem;
    height: 2.5rem;
    border: none;
    border-radius: 0.5rem;
    color: #ffffff;
    transition: ease-in-out;
    margin-top: -1rem;
}
button:active {
    transform: scale(1.02);
}

.forget_password {
    display: flex;
    margin-left: auto;

}

/* Now work on Media queries */
@media (max-width: 480px) {
    .image {
        height: 3.5rem;
    }
    h1 {
        font-size: 1rem;
        margin-top: -1rem;
    }
    .email_div input{
        width: 12.5rem;
    }
    .email_div {
        width: 14rem;
    }
    .password_div {
        width: 14rem;
    }
    h5 {
        margin-top: -5rem;
        padding-right: 1.8rem;
    }
    button {
        height: 2rem;
        width: 8rem;
        margin-top: -4rem;
    }
    .container {
        width: 18rem;
    }


}

